html {
  height: 100dvh;
  width: 100dvw;
  font-size: 16px;

  --header-height: 2.5rem;

  --text-color-main: #1d2452;
  --text-color-secondary: #1d245280;
  --border-color-main: #1d24521a;
  --border-color-input: #1d24524d;

  --background-color-secondary: #9398c3;
  --background-color-light: #eceefb;

  --default-transition-duration: 200ms;
}

body {
  &,
  & > #app {
    height: 100%;
    width: 100%;
    margin: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

hr {
  margin: 0;
  border-color: var(--border-color-main);
}

.searchable-select__dropdown {
  background: #fff;
  overflow: hidden;

  .dropdown__list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;

    .list__option {
      cursor: pointer;
      text-overflow: ellipsis;
      box-sizing: border-box;
      width: 100%;
      padding: 0.5rem;
      font-size: 0.875rem;
      overflow: hidden;
      transition: background-color var(--default-transition-duration)
        ease-in-out;

      color: var(--text-color-main);

      &.list__option--selected {
        background-color: var(--background-color-light);
      }

      &:hover {
        background-color: var(--background-color-light);
      }

      &:nth-last-child(2) {
        anchor-name: --last-list-child;
      }

      &.list__option--last {
        position: absolute;
        position-anchor: --last-list-child;
        top: anchor(0%);
        left: anchor(left);
        width: anchor-size(width);
        height: anchor-size(height);
        pointer-events: none;
      }
    }
  }
}

.tooltip {
  --tooltip-background-color: #1d2452e5;
  --tooltip-arrow-top-position: calc(100% + 0.375rem);

  @media (hover) {
    position: relative;

    &::after,
    &::before {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      transition: all 0.2s ease;
      z-index: 10;
    }

    &::after {
      content: attr(data-tooltip);
      background: var(--tooltip-background-color);
      color: white;
      padding: 0.25rem 0.375rem;
      border-radius: 0.25rem;
      font-size: 0.6875rem;
      width: 15rem;
      max-width: 15rem;
      line-height: 1;
      letter-spacing: 0;
      text-align: left;
      font-weight: 500;
    }

    &::before {
      content: "";
      border: 6px solid transparent;
    }

    &:hover::after,
    &:hover::before {
      opacity: 1;
    }

    &.tooltip--bottom {
      &::after {
        top: var(--tooltip-arrow-top-position);
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &.tooltip--bottom-left {
      &::after {
        top: var(--tooltip-arrow-top-position);
        left: 0;
        transform: none;
      }
    }

    &.tooltip--bottom-right {
      &::after {
        top: var(--tooltip-arrow-top-position);
        right: 0;
        left: auto;
        transform: none;
      }
    }

    &.tooltip--bottom,
    &.tooltip--bottom-left,
    &.tooltip--bottom-right {
      &::before {
        top: calc(100% - 0.375rem);
        left: 50%;
        transform: translateX(-50%);
        border-bottom-color: var(--tooltip-background-color);
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--default-transition-duration) ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
